


body{
    margin: 0;
}

header{
    background: black;
    color: white;
    padding: 8px 0px 6px 40px;
    height: 40px;
}
header h1{
    font-family: 'Times New Roman', Times, serif;
    display: inline;
    font-weight: 400;
    font-size: 32px;
    float: left;
    margin-top: 0px;
    margin-left: 10px;
}
nav ul{
    display: inline;
    padding: 0px;
    float: left;
}
nav ul li{
    display: inline-block;
    list-style-type: none;
    color: white;
    float: left;
    margin-right: 12px;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
#nav{
    font-family: 'Times New Roman', Times, serif;
}
.homered{
    background-color: red;
    padding: 30px 10px 13px 10px;
}
.divider{
    background-color: red;
    height: 5px;
}
.homeblack:hover{
    background-color: blue;
    padding: 30px 10px 13px 10px;
}
.bottom {
    position: absolute;
    top: 8px;
    right: 16px;
  }